*{
    margin: 0;
    padding: 0;
}

#main{
    height: 100vh;
    background: linear-gradient(180deg, #7EC8E3 0%, #F8FAFC 100%);

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#heading{
    height: 10vh;
    background: #7EC8E3;
    display: grid;
    grid-template-columns: 0.55fr 0.45fr;
    justify-items: end;
    align-items: center;
    color: #FFFFFF;
}

#heading-content a{
    text-decoration: none;
    color: white;
    font-size: 2.2rem;
    font-weight: 600;
    letter-spacing: 0.5px;
}

#heading-content a span{
    font-weight: 700;
    opacity: 0.9;
}

#heading-buttons{
    justify-self: center;
    padding: 10px;
}

#heading-buttons form{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}


#heading-buttons input[type=submit] {
  background-color: white;
  border-radius: 10px;
  padding: 10px 25px;
  font-weight: 500;
  color: black;
  border: none;
  transition: transform 0.25s ease, background-color 0.25s ease;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);

}

#heading-buttons input[type=submit]:hover {
  transform: scale(1.05);
  background-color: #e1e1e1;
}

#panel1 {
  height: 80vh;
  display: flex;
  color: #1F2933;
  background:
    radial-gradient(circle at center,
      rgb(255, 255, 255),
      transparent 60%);

}

#panel1-content{
    font-weight: bold;   
    font-size: 4rem;
    width: 50vw;
    text-align: center;
    /* flex: 1;
    display: flex;
    justify-content: center;
    align-items: center; */
    line-height: 1.15;
  letter-spacing: -0.02em;
}

#panel1-content span{
  color: #3B82F6;
}

#panel1-content2{
  color: #374151;
  font-weight: medium;
  font-size: 1.5rem;
  text-align: center;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
#panel1-right {
  margin-top: 7.5vh;
  height: 60vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  color: black;
  text-align: center;
  font-weight: bold;
  font-size: 2.5rem;
  padding: 3rem;
  animation: fadeUp 1s ease-out;
}

#panel1-form input[type=submit] {
  background-color: #7EE081;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: 500;
  transition: all 0.3s ease;
  box-shadow: 0 10px 25px rgba(126, 224, 129, 0.4);
}


#panel1-form input[type=submit]:hover {
  transform: scale(1.05);
  background-color: #63C96A;
}

#panel2{
    background: linear-gradient(180deg,#EAF6FB 0%,#CDEBFA 60%,#7EC8E3 100%);
    height: 30vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#panel2 span{
  margin-bottom: 30px;
}