*{
    margin: 0;
    padding: 0;
}

#main{
    height: 100vh;
    background: linear-gradient(135deg, #7EC8E3, #A7DFF3);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#back a{
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
  background: rgba(255,255,255,0.15);
  border: none;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    border-radius: 50%;
    position: absolute;
    left: 10px;
    top: 10px;
    transition: transform 0.25s ease;
}

a:hover{
    transform: scale(1.2);
    font-size: 1.1rem;
}

#signup-form{
    
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 35vw;
    /* height: 70vh; */
background: rgba(255, 255, 255, 0.18);
border: 1px solid rgba(255,255,255,0.35);
backdrop-filter: blur(14px);
  box-shadow: 
    0 20px 40px rgba(0,0,0,0.08),
    inset 0 1px 0 rgba(255,255,255,0.4);
    animation: fadeUp 1s ease-out ;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#heading-signup {
  font-size: 2.6rem;
  font-weight: 700;
  letter-spacing: -0.03em;
  margin-top: 4px;
  margin-bottom: 10px;
  color: #0F172A; /* deep slate */
}


/* form layout */
form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  align-items: center;
}

/* each input field */
.detail {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 30vw;
  /* width: 85%; */
  box-sizing: border-box;
}

.detail label {
  font-size: 0.9rem;
  /* color: white; */
  color: black;
  letter-spacing: 0.3px;
}

/* input fields */
.detail input[type="password"],
.detail input[type="text"] {
  padding: 10px 12px;
  border: none;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.6);
  font-size: 1rem;
  outline: none;
  transition: all 0.3s ease;
}

.detail input:focus {
  outline: 2px solid #7EE081;
}

/* button */
input[type="submit"] {
  background-color: #7EE081;
  color: white;
  /* background: white; */
  border: none;
  border-radius: 12px;
  padding: 10px 25px;
  font-weight: 500;
  /* color: #333; */
  cursor: pointer;
  transition: all 0.3s ease;
}

input[type="submit"]:hover {
  transform: scale(1.05);
  background-color: #63C96A;
}

/* responsive */
@media (max-width: 500px) {
  #signup-form {
    width: 85vw;
  }
}


.brand {
  font-size: 1.1rem;
  font-weight: 600;
  /* color: white; */
  letter-spacing: -0.02em;
  margin-bottom: 4px;
  opacity: 0.85;
}

.brand span {
  font-weight: 600;
  opacity: 0.85;
}

.subtitle {
  font-size: 0.95rem;
  opacity: 0.85;
  margin-bottom: 30px;
}
