<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="/index.css">
</head>
<body>
    <div id="main">
        <div id="heading">
            <div id="heading-content">
                <a href="/">Data<span>Nest</span></a>
            </div>
            <div id="heading-buttons">
                <form action="/register" method="POST">
                    <input type="submit" name="register" value="Login">
                    <input type="submit" name="register" value="Sign Up">
                </form>
            </div>
        </div>

        <div id="panel1">
            <div id="panel1-right">
                <div id="panel1-content">
                    Looking for a <span>data handler</span> that suits your every need…?
                </div>
                <div id="panel1-content2">
                    Play, explore, and understand data — the easy way.
                </div>
                <div id="panel1-form">
                    <form action="/entry" method="POST">
                        <input type="submit" name="entry" value="Start Exploring">
                    </form>
                </div>
            </div>
        </div>
        <div id="panel2">
            <span>Made with ❤️ by Vansh • Built for learners</span>
        </div>
    </div>
</body>

</html>